{{- $scratch := newScratch }}

<!-- 發布日期 -->
{{- if not .Date.IsZero -}}
{{- $scratch.Add "meta" (slice (printf "<span>發布日期：%s</span>" (.Date | time.Format "2006年01月02日"))) }}
{{- end }}

<!-- 更新日期（優先檢查 updateDate，否則使用 lastmod） -->
{{- if .Params.updateDate -}}
{{- $scratch.Add "meta" (slice (printf "<span>更新日期：%s</span>" (time .Params.updateDate | time.Format "2006年01月02日 15:04"))) }}
{{- end }}
{{- if not .Params.updateDate -}}
{{- if .Lastmod -}}
{{- if not (eq .Lastmod .Date) -}}
{{- $scratch.Add "meta" (slice (printf "<span>更新日期：%s</span>" (.Lastmod | time.Format "2006年01月02日 15:04"))) }}
{{- end }}
{{- end }}
{{- end }}

<!-- 閱讀時間 -->
{{- if .Param "ShowReadingTime" -}}
{{- $scratch.Add "meta" (slice (printf "⏰閱讀時間：大約 %d 分鐘" .ReadingTime)) }}
{{- end }}

<!-- 字數（可選） -->
{{- if .Param "ShowWordCount" -}}
{{- $scratch.Add "meta" (slice (printf "%d 字" .WordCount)) }}
{{- end }}

<!-- 作者（可選） -->
{{- if not (.Param "hideAuthor") -}}
{{- with (partial "author.html" .) -}}
{{- $scratch.Add "meta" (slice .) }}
{{- end }}
{{- end }}

<!-- 輸出元數據 -->
{{- with $scratch.Get "meta" -}}
{{- delimit . "&nbsp;·&nbsp;" | safeHTML -}}
{{- end -}}